#options {
    max-width: 100vw;
    max-height: 100vh;
    background: #FFF;     
}
 
#options .buttons {
    position: absolute;
    height: 100vh;
    width: 35vw; 
    z-index: 10;
    right: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: transparent;
}